XML S6/XML TD2/.test/EXO1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" 
    targetNamespace="http://si.dz/serie2/exercice1"
    xmlns="http://si.dz/serie2/exercice1"
    vc:minVersion="1.1">
    <xs:element name="bibliography">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="authors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="author" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="lastname" type="xs:string"/>
                                        <xs:element name="firstname" type="xs:string" />
                                        <xs:element name="dateofbirth" type="xs:date"/>
                                        <xs:element name="website" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="document">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="book">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="subtitle" type="xs:string"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>                                     
                                        <xs:element name="authorcode" type="xs:long"/>
                                        <xs:element name="volumes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="volume" >
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="nbpage" type="xs:int" use="required"/>
                                                                    <xs:attribute name="subtitle" type="xs:string" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="edition">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="publisher" type="xs:string"/>
                                                    <xs:element name="ISBNnum" type="xs:string"/>
                                                    <xs:element name="year" type="xs:date"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                   </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="article">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" type="xs:string"/>
                                        <xs:element name="journal">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="pagenb" type="xs:string"/>
                                                    <xs:element name="year" type="xs:date"/> 
                                                </xs:sequence>
                                                <xs:attribute name="journal_name" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="dissertation">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" type="xs:string"/>
                                        <xs:element name="authorcode" type="xs:string"/>
                                        <xs:element name="university" type="xs:string"/>
                                        <xs:element name="year" type="xs:date"/>
                                    </xs:sequence>
                                    <xs:attribute name="memo_type" use="optional">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="national"></xs:enumeration>
                                                <xs:enumeration value="internationel"></xs:enumeration>                                                
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
             </xs:sequence>
         </xs:complexType>
     </xs:element>
</xs:schema>
